.row {
	&__contents {
		display: inline-block;
		font-weight: 500;
		margin: 5px 15px;
	}

	&__header {
		display: inline-block;
		background-color: rgba($mainGreen, .5);
		min-width: 1200px;
	}

	&__results {
		display: inline-block;
		background-color: $mainOrange;
		min-height: 50px;
		min-width: 1200px;
	}
}