.site-header {
  padding: 0 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  
 
  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .3);

  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 5%;
    background-color: $mainBlue;
    padding: 9px 36px;
    max-width: 250px;

  }

  &__logo--napis {
    font-weight: 300;
    color: #FFF;
    font-size: 1.3rem;

  }

  &__elements {
    position: relative;
    float: right;
    padding: 10px 0;

  }



}